@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color:#252C84;
}



/* navbar */
.navbar-title{
    align-items:flex-start;
}
.navbar {
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    max-width: 95%;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.navbar-head {
    display: flex;
    align-items: center;
}
.navbar-logo {
    height: 40px;
    width: 40px;
    color: #CABDFF;
    margin-right: 0.75rem;
}
.navbar-title {
    font-family: "Aguafina Script", cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #CABDFF;
}
.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navbar-links a {
    font-family: "Montserrat", sans-serif;
    color: #CABDFF;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding: 0.25rem 0;
    position: relative;
}
.navbar-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CABDFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}
.navbar-links a:hover {
    color: #CABDFF;
}
.navbar-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hero-section {
    display: flex;
    align-items: center;
    padding: 2rem;
    position: relative;
    z-index: 5;
    text-align: left;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    flex-direction: row;
    align-items: flex-start;
}

.hero-left {
    max-width: 600px;
    margin-bottom: 2rem;
    margin-right: 4rem;
}

h1{
    color:#FFFFFF;
    font-family: "Aguafina Script", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 7rem;
    margin-bottom: 0;
    margin-top: 0px;
    height: 120px
}
.description {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.hero-button {
    background: linear-gradient(180deg, #C650E7, #6A297C);
    /* background-color: #C650E7; */
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.hero-button:hover {
    background: linear-gradient(90deg, var(--accent-purple), var(--secondary-bg));
    background-color: #712f83;
    color: white;
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2); 
}

.clouds {
    position: absolute;
    top: 70%; 
    left: -1%;
    width: 101%;
    z-index: -1; 
    transform: translateY(-50%);
}

.clouds img {
    width: 100%;
    height: auto;
    object-fit: cover;
}